<div class="min-h-screen min-w-screen bg-gradient-to-b from-gray-950 to-blue-950">
    <div class="pt-20 header">
        <h1 class="text-cente text-6xl text-teal-400 font-extrabold">Tic <span class="text-orange-300">Tac</span> Toe</h1>

        <h1 class="text-center text-orange-300 text-4xl mt-10 font-semibold"><span class=" text-cyan-400 underline underline-offset-3">{{ gameService.activePlayer }}</span>'S TURN</h1>

        <h1 class="text-center text-purple-500 font-semibold mt-10 text-4xl"><span>{{ gameService.activePlayer }}</span> WON!</h1>
    </div>

    <app-board></app-board>
    
</div>