<div class="min-h-screen min-w-screen bg-gradient-to-b from-gray-950 to-blue-950" #galaxy>
    <div class="pt-20 header">
        <h1 class="text-cente text-6xl text-teal-400 font-extrabold">Tic <span class="text-orange-300">Tac</span> Toe</h1>

        <h1 class="text-center text-orange-300 text-4xl mt-10 font-semibold" *ngIf="!gameService.win && !gameService.isDraw" [ngClass]="{'text-teal-200' : gameService.activePlayer == 'O'}"><span class=" text-cyan-400 underline underline-offset-3">{{ gameService.activePlayer }}</span>'S TURN</h1>
        
        <h1 class="text-center text-purple-500 font-semibold mt-10 text-4xl" *ngIf="gameService.win"><span>{{ gameService.activePlayer }}</span> WON!</h1>

        <h1 class="text-center text-lime-400 font-semibold mt-10 text-4xl" *ngIf="gameService.isDraw">It's a draw!</h1>

        <div class="res-container grid justify-center" *ngIf="gameService.isGameOver">
            <button class="border-none text-dark font-bold py-2 px-4 rounded mx-auto block mt-5 custom-btn" id="res-btn" (click)="gameService.newGame()">Restart</button>
        </div>
    </div>
    <app-color-picker></app-color-picker>

    <app-board></app-board>
    
</div>