

:host 
  display: flexbox
  width: 20em
  padding: 1em
  justify-content: center
  align-content: center
  background-color: grey

.color-wrapper 
  display: flex
  height: 250px


.input-wrapper 
  margin-top: 16px
  display: flex
  border-radius: 1px
  padding: 8px
  height: 32px
  justify-content: center


.color-div 
  width: 32px
  height: 32px
  border-radius: 50%
  border: 1px solid rgb(220, 220, 220)


.text
  flex: 1
  font-family: 'Helvetica'
  line-height: 32px
  font-family: inherit
  color: white

.color-slider
    margin-left: 0.2em